<div id="login" style="display: block">
  <div class="d-flex justify-content-center">
    <img src="img/logo.png" alt="logo" />
  </div>
  <br />
  <div class="form-group d-flex justify-content-center">
    <input
      id="email"
      type="email"
      placeholder="Enter email"
      class="form-control"
    />
  </div>
  <small id="email_msg" class="text-danger"></small>
  <br />
  <div class="d-flex justify-content-center">
    <button id="email_but" type="button" class="col-12 btn btn-primary">
      Next
    </button>
  </div>
</div>
