<div id="otp" style="display:none">
    <div class="text-center">
        <h6> Verify your account </h6>
        <div> <span>A code has been sent to</span> <small id="otp_mail"></small> </div>
    </div><br />
    <div class="form-group d-flex justify-content-center">
        <input class="m-2 text-center form-control rounded otp_value" type="text" id="first" maxlength="1" />
        <input class="m-2 text-center form-control rounded otp_value" type="text" id="second" maxlength="1" />
        <input class="m-2 text-center form-control rounded otp_value" type="text" id="third" maxlength="1" />
        <input class="m-2 text-center form-control rounded otp_value" type="text" id="fourth" maxlength="1" />
        <input class="m-2 text-center form-control rounded otp_value" type="text" id="fifth" maxlength="1" />
        <input class="m-2 text-center form-control rounded otp_value" type="text" id="sixth" maxlength="1" />
    </div>
    <small id="otp_msg" class="text-danger"> </small><br />
    <div class="d-flex justify-content-center">
        <button id="otp_back" type="button" class="col-sm-5 btn-align btn btn-primary">Back</button>
        <p class="col-sm-1"></p>
        <button id="otp_send" type="button" class="col-sm-5  btn-align btn btn-primary"><div id="otp_loader" class="spinner-border" role="status"><span class="sr-only"></span></div> </button>
    </div>
</div>