<div id="pass" style="display:none">
    <div class="form-group d-flex justify-content-center">
        <input type="password" minlength="8" maxlength="16" id="pass_new" placeholder="New Password" class="form-control" data-bs-toggle="popover" />
    </div>
    <small id="pass_msg_new" class="text-danger"></small><br />
    <div class="form-group d-flex justify-content-center">
        <input type="password" minlength="8" maxlength="16" id="pass_confirm" placeholder="Confirm Password" class="form-control" />
    </div>
    <small id="pass_msg" class="text-danger"></small><br />
    <div class="d-flex justify-content-center">
        <button id="pass_submit" type="button" class="col-sm-12 btn btn-primary">Submit</button>
    </div>
</div>